<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="../common/main.master" %>
<%@ Register Src="Checkout.ascx" TagName="Checkout" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <ZNode:Checkout ID="uxCheckout" runat="server"  Visible="true"/>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="TurnOffBreadcrumb" />