<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="../common/main.master" %>
<%@ Register Src="Password.ascx" TagName="Password" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <ZNode:Password ID="Password" runat="server"  Visible="true"/>
</asp:Content>